html,body,h1,h2,h3,h4,p,div,a,img,span,ul,li{
	margin:0;
	padding:0;
	list-style:none;
}

html,body{
	height:100%;
	position:relative;
}
body{
	background:rgb(240,240,235);
}
body .btn{
	line-height:1; !IMPORTANT
}

.top{
	width:100%;
	height:54px;
	background:white;
	border-bottom:1px solid #e2e2e2;
	position:absolute;
}
.content{
	position:absolute;
	width:100%;
	top:54px;
	bottom:0px;
	overflow:hidden;
}
	.content .map{
		width:100%;
		height:100%;
		float:left;
		background:green;
	}
	.content .detail{
		background:#2fdf9e;
		position:absolute;
		left:280px;
		top:50px;
		opacity:0;
		width:280px;
		z-index:999;
	}
	.content .city{
		position:absolute;
		top:0;
		left:0;
		width:280px;
		height:100%;
		z-index:10000;
	}
	.content .edit{
		position:absolute;
		left:0;
		width:280px;
		z-index:10001;
		background:rgb(80,80,80);
		box-shadow:0px 1px 12px rgba(100,100,100,.4);
		-webkit-box-shadow:0px 1px 8px rgba(100,100,100,.5);
	}

/*Global*/
body{
	font-family:GravurRegular, sans-serif;
	color:rgb(240,240,235);
	font-size:16px;
}
h1{
	font-size:1.8em;
}
h2{
	font-size:1.4em;
}
h3{
	font-size:.9em;
}

@font-face{
	src:url('assets/fonts/Gravur Condensed-Regular.otf');
	font-family:GravurRegular;
	font-weight:normal;
}


/*Header*/
.top .header-inner{
	width:100%;
	height:100%;
}
.top .options-menu{
	width:334px;
	height:100%;
	background:white;
	z-index:1000;
}
	.top .options-menu .menu-item{
		line-height:54px;
		color:rgb(80,80,80);
		height:100%;
	}
	.top .options-menu .heading{
		font-size:1.1em;
		text-transform: uppercase;
		padding:0 15px;
		display:inline;
	}
	.top .options-menu .option{
		width:54px;
		float:right;
		display:inline-block;
		border-left:1px solid #eeeeee;
		position:relative;
	}
		.top .options-menu .option .custom-btn.active{background-color:rgb(240,240,240);}
		.top .options-menu .option .custom-btn{
			width:100%;
			height:100%;
			position:absolute;
		}
		.top .options-menu .btn-map{ background:white url('assets/btn-map.png') no-repeat 12px 12px; }
		.top .options-menu .btn-grid{ background:white url('assets/btn-grid.png') no-repeat 12px 12px; }

.top .map-layer-control{
	position:absolute;
	left:334px;
	top:0px;
	height:100%;
	z-index:999;
}
	.map-layer-control .map-layer-control-inner{
		height:100%;
	}
		.map-layer-control .map-layer-control-inner .menu-item{
			height:100%;
			width:150px;
			float:left;
			border-right:1px solid #e2e2e2;
			color:rgb(120,120,120);
		}
		.map-layer-control .map-layer-control-inner .heading{
			line-height:54px;
			background:rgb(240,240,240);
		}
		.map-layer-control .map-layer-control-inner .option{
			text-align:center;
			line-height:54px;
		}
		.map-layer-control .map-layer-control-inner .open{
			border-top:4px solid #e2e2e2;
		}
			.map-layer-control .map-layer-control-inner .option .dropdown-toggle{
				height:100%;
				width:100%;
				text-align:center;
				line-height:54px;
				display:block;
				color:rgb(120,120,120);
				text-decoration: none;
			}
			.map-layer-control .map-layer-control-inner .option .dropdown-menu>li .legend{
				height:10px;
				width:10px;
				display:inline-block;
				border-radius:10px;
				margin-right:5px;
			}

/*Map module*/
.content .map .map-inner{
	width:100%;
	height:100%;
}
.content .map .map-inner svg .parcel{
	fill:rgba(220,220,220,.2);
	stroke:rgba(150,150,150,.8);
	stroke-width:1px;
}
	.content .map .map-inner svg .parcel:hover{ 
		fill-opacity:.7; 
		fill:#2fdf9e;
	}

/*City collection module*/
.content .city .city-list{
	padding:30px 0;
	height:100%;
}
	.content .city .city-list-item{
		color:rgb(100,100,100);
		font-size:1.1em;
		padding:10px 15px;
		background:white;
		position:absolute;
		width:100%;
		box-shadow:0px 1px 12px rgba(100,100,100,.2);
		border:none;
		cursor:pointer;
	}
	.content .city .grid .city-list-item{
		box-shadow:none;
		border:1px solid #eeeeee;
	}
	.content .city .grid .city-list-item.highlight{
		background:white;
		box-shadow:none;
	}
	.content .city .city-list-item.highlight{
		background:rgb(245,245,245);
		box-shadow:0px 1px 12px rgba(100,100,100,.4);
	}
		.content .city .city-list-item .label{
			margin:0 0 0 5px;
		}
		.content .city .city-list-item .marked{
			background:#ef4136;
		}
		.content .city .city-list-item .city-owned{
			background:#d6d4ea;
		}
		.content .city .city-list-item .partner-owned{
			background:#96d5cf;
		}
	.city .city-list-item .city-action-menu{
		margin: 15px 0;
	}
		.city .city-list-item .add-action .btn{
			color:rgb(100,100,100);
			border:1px solid rgba(100,100,100,.5);
		}
		.city .city-list-item .add-action .btn:hover{
			color:rgb(0,0,0);
		}
		.city .city-list-item .add-action .btn.active{
			color:white;
			border:1px solid rgba(100,100,100,.5);
			background:rgba(100,100,100,.5);
		}


/*city-list-item*/
.city-list-item{
	overflow:hidden;
}
	.city-list-item .city-item-viz{
		margin:10px 0 0;
	}
	.city-list-item .city-item-viz .viz{
		width:100%;
		height:260px;
		margin:15px 0;
		-web-kit-transition: background 1s;
		transition:background 1s;
	}
	.city-list-item .city-item-viz .loading{
		background:rgb(240,240,240);
	}
		.city-list-item .city-item-viz .viz .viz-inner{
			width:100%;
			height:100%;
			position:relative;
		}
			.city-list-item .city-item-viz .viz .viz-inner h3{
				position:absolute;
				top:0;
				left:0;
			}
		.city-list-item .city-item-viz .drop-down{
			visibility:hidden;
		}
		.city-list-item:hover .city-item-viz:hover .dropdown{
			visibility:visible;
		}
			.city-list-item:hover .city-item-viz .dropdown .dropdown-toggle{
				color:rgb(80,80,80);
				border:1px solid rgb(180,180,180);
			}

/*Detail module*/
	.content .detail .divider{
		margin:15px 0 10px;
		padding:5px 0;
		border-top:1px solid rgba(255,255,255,.5);
		text-transform: uppercase;
	}

	/* Global override for bootstrap-switch */
	.content .detail .bootstrap-switch-wrapper{
		display:inline-block;
		border:none;
		float:right;
	}
		.content .detail .bootstrap-switch-handle-on{
			background:#ef4136;
		}
		.content .detail .bootstrap-switch-handle-off{
			background:#5bbb90;
			color:white;
		}
	.content .detail .custom-checkbox .btn{
		border:none;
		background:#5bbb90;
		color:#4ea47e;
	}
	.content .detail .custom-checkbox .active{
		background:#ef4136;
		color:white;
	}

.content .detail .detail-inner{
	padding:30px 15px;
}
	.detail-inner .address{
		color:rgb(240,240,235);
	}



/*Edit module*/

.edit .edit-inner{
	padding:30px 15px;
}
	.edit-inner .tooltip-below{
		width:10px;
		height:10px;
		left:50%;
		bottom:-10px;
		margin:0 -5px;
		position:absolute;
		background:url('assets/tooltip.png') no-repeat 0 -2px;
	}


/*Common to all modules */
	.module .btn{
		border-color:white;
		background:none;
		color:white;
	}
	.module .close{
		font-size:14px;
		opacity:1;
		text-shadow:none;
	}
	.edit .dropdown-toggle{
		border:none;
		background:rgb(90,90,90);
	}
	.module .attr-list{
		margin:20px 0;
	}
		.module .attr-list .attr-list-item{
			margin:5px 0;
			padding:3px 0;
			/*border-bottom:1px solid rgba(255,255,255,.5);*/
		}
			.module .attr-list .attr-list-item .error-msg{
				visibility:hidden;
				color:#f04c23;
			}
			.module .attr-list .attr-list-item.error .error-msg{
				visibility:visible;
			}
			.module .attr-list .attr-list-item .title{
				display:block;
				margin-bottom:5px;
			}
			.module .attr-list .attr-list-item .value{
				font-size:1.1em;
			}
			.module .attr-list .attr-list-item .form-control{
				border:none;
				background:#2fdf9e;
				color:white;
				font-size:1em;
				box-shadow:none;
				padding:0;
				-web-kit-transition: background 1s;
				transition:background 1s;
			}
			.module .attr-list .attr-list-item.error .form-control{
				color:#f04c23;
			}
			.edit .attr-list .attr-list-item .form-control{
				background:rgb(90,90,90);
			}
			.detail .detail-inner.modified .attr-list .attr-list-item .form-control{
				background:#5bbb90;
			}

	.module .custom-glyph{
		height:22px;
		width:22px;
		display:inline-block;
	}
	.module .glyph-asset{
		background:url('assets/pin_asset.png') no-repeat 0 0;
		background-size:22px 22px;
	}
	.module .glyph-investment{
		background:url('assets/pin_investment.png') no-repeat 0 0;
		background-size:22px 22px;
	}

/*VIZ*/
.viz .scale{
	fill:none;
	stroke:rgb(150,150,150);
	stroke-width:1px;
}
	/*summaryView*/
	.summary .list-item{
		margin:15px 0;
	}
	.summary .add-btn{
		background:rgb(200,200,200);
		width:22px;
		height:22px;
		line-height:22px;
		text-align: center;
		font-size:.8em;
		color:white;
		border-radius:22px;
		-webkit-border-radius:22px;
		margin:0 5px 0 0;
	}
	.summary .list-item:hover .add-btn{
		background:rgb(80,80,80);
	}
	.summary .digits{
		color:black;
		font-size:1.8em;
		line-height:.8em;
	}
	.summary .meta{
		font-size:.75em;
		display:block;
	}