html,body,h1,h2,h3,h4,p,div,a,img,span,ul,li{
	margin:0;
	padding:0;
	list-style:none;
}

html,body{
	height:100%;
	position:relative;
}
body{
	background:rgb(240,240,235);
}

.top{
	width:100%;
	height:60px;
	background:rgb(80,80,80);
}
.content{
	position:absolute;
	width:100%;
	top:0px;
	bottom:0px;
	overflow:hidden;
}
	.content .map{
		width:100%;
		height:100%;
		float:left;
		background:green;
	}
	.content .detail{
		background:#2fdf9e;
		position:absolute;
		left:250px;
		top:50px;
		opacity:0;
		width:20%;
		z-index:999;
	}
	.content .city{
		background:#333d47;
		position:absolute;
		top:0;
		left:0;
		width:250px;
		height:300px;
		z-index:10000;
	}
	.content .parcels{
		background:#e6e8ec;
		position:absolute;
		bottom:0;
		left:0;
		top:300px;
		width:250px;
		z-index:10001;
	}

/*Global*/
body{
	font-family:GravurRegular, sans-serif;
	color:rgb(240,240,235);
	font-size:16px;
}
h1{
	font-size:2em;
}
h2{
	font-size:1.6em;
}

@font-face{
	src:url('assets/fonts/Gravur Condensed-Regular.otf');
	font-family:GravurRegular;
	font-weight:normal;
}

/*Map module*/
.content .map .map-inner{
	width:100%;
	height:100%;
}
.content .map .map-inner svg .parcel{
	fill:rgba(220,220,220,.5);
	stroke:rgba(150,150,150,.6);
	stroke-width:1px;
}
	.content .map .map-inner svg .parcel:hover{ 
		fill-opacity:.7; 
		fill:#2fdf9e;
	}

/*City module*/
.content .city .city-list{
	padding:30px 0;
}
	.content .city .city-list-item{
		font-size:1.3em;
		padding:5px 15px;
		border-bottom:1px #485763 solid;
	}
	.content .city .city-list-item.highlight{
		background:#485763;
	}
		.content .city .city-list-item .marked{
			background:#ef4136;
		}

/*Detail module*/

	/* Global override for bootstrap-switch */
	.content .detail .bootstrap-switch-wrapper{
		display:inline-block;
		border:none;
		float:right;
	}
		.content .detail .bootstrap-switch-handle-on{
			background:#ef4136;
		}
		.content .detail .bootstrap-switch-handle-off{
			background:#5bbb90;
			color:white;
		}

.content .detail .detail-inner{
	padding:30px 15px;
}
	.detail-inner .save{
		border-color:white;
		background:none;
		color:white;
	}
	.detail-inner .attr-list{
		margin:20px 0;
	}
		.detail-inner .attr-list .attr-list-item{
			margin:5px 0;
			padding:3px 0;
			/*border-bottom:1px solid rgba(255,255,255,.5);*/
		}
		.detail-inner .attr-list .attr-list-item:last-child{
			border:none;
		}
			.detail-inner .attr-list .attr-list-item .value{
				font-size:1.3em;
			}
			.detail-inner .attr-list .attr-list-item .form-control{
				border:none;
				background:#2fdf9e;
				color:white;
				font-size:1em;
				box-shadow:none;
				padding:0;
				-web-kit-transition: background 1s;
				transition:background 1s;
			}
			.detail-inner.modified .attr-list .attr-list-item .form-control{
				background:#5bbb90;
			}