html,body,h1,h2,h3,h4,p,div,a,img,span{
	margin:0;
	padding:0;
}

html,body{
	height:100%;
	position:relative;
}
body{
	background:rgb(250,250,250);
}

.top{
	width:100%;
	height:100px;
}
.content{
	position:absolute;
	width:100%;
	top:100px;
	bottom:0px;
	overflow:hidden;
}
	.content .modules{
		height:100%;
		position:absolute;
	}
		.content .module{
			height:100%;
			float:left;
			background:green;
		}
		.content .detail{
			background:red;
		}

/*Map module*/
.content .map .map-inner{
	width:100%;
	height:100%;
}
.content .map .map-inner svg .parcel{
	fill:red;
	fill-opacity:.5;
	stroke:white;
	stroke-width:.5px;
}
	.content .map .map-inner svg .parcel:hover{ fill-opacity:1; }