html,body,h1,h2,h3,h4,p,div,a,img,span,ul,li{
	margin:0;
	padding:0;
	list-style:none;
}

html,body{
	height:100%;
	position:relative;
}
body{
	background:rgb(240,240,235);
}

.top{
	width:100%;
	height:60px;
}
.content{
	position:absolute;
	width:100%;
	top:60px;
	bottom:0px;
	overflow:hidden;
}
	.content .modules{
		height:100%;
		position:absolute;
	}
		.content .module{
			height:100%;
			float:left;
			background:green;
		}
		.content .detail{
			background:#2fdf9e;
		}

/*Global*/
body{
	font-family:GravurRegular, sans-serif;
	color:rgb(240,240,235);
	font-size:16px;
}
h1{
	font-size:2em;
}
h2{
	font-size:1.6em;
}

@font-face{
	src:url('assets/fonts/Gravur Condensed-Regular.otf');
	font-family:GravurRegular;
	font-weight:normal;
}

/*Map module*/
.content .map .map-inner{
	width:100%;
	height:100%;
}
.content .map .map-inner svg .parcel{
	fill:#1d4a69;
	fill-opacity:.5;
	stroke:white;
	stroke-width:.5px;
}
	.content .map .map-inner svg .parcel:hover{ fill-opacity:1; }

/*Detail module*/
.content .detail .detail-inner{
	padding:30px 15px;
}
	.detail-inner .attr{
		margin:20px 0;
	}
		.detail-inner .attr li{
			margin:5px 0;
			padding:3px 0;
			border-bottom:1px solid rgba(255,255,255,.5);
		}
			.detail-inner .attr li .value{
				font-size:1.3em;
			}