<h2>
	<a href="#" class="address">
	<span class="custom-glyph glyph-asset"></span>
	<%= name %>
	</a>
</h2>
<ul class="attr-list">
	<li class="attr-list-item">
		<span>City</span>
		<div class="value"><%= city %></div>
	</li>
	<div class="form-group address attr-list-item attr-list-item-hide-input">
		<label for="value">Phone</label>
		<div class="value"><%= address %></div>
		<input type="text" class="form-control" id="address" value=<%= '"'+address+'"' %> >
	</div>
	<div class="form-group contact attr-list-item attr-list-item-hide-input">
		<label for="value">Contact</label>
		<div class="value"><%= contact %></div>
		<input type="text" class="form-control" id="contact" value=<%= contact %> >
	</div>
	<li class="attr-list-item">
		<span>Type</span>
		<div class="value"><%= type %></div>
	</li>
	<li class="attr-list-item">
		<span>Subtype</span>
		<div class="value"><%= subtype %></div>
	</li>
	
	<% if(employer){ %><li class="form-group attr-list-item attr-list-item-hide-input">
		<label for="employees">Employee</label>
		<div class="value"><%=employee%></div>
		<input type="text" class="form-control" id="employee" value=<%= employee %>>
	</li><%}%>
	<% if(parking>0) { %><li class="form-group attr-list-item attr-list-item-hide-input">
		<label for="parking">Parking Spaces</span>
		<div class="value"><%=parking%></div>
		<input type="text" class="form-control" id="parking" value=<%= parking %>>
	</li><%}%>
	<div class="form-group comment attr-list-item">
		<label for="comment">Comments</label>
		<textarea type="text" class="form-control" id="comment" placeholder="Add a comment" ><%= comment %></textarea>
	</div>
</ul>
<div class="btn-group pull-right">
	<a class="btn btn-default delete" href="#" role="button">Delete</a>
	<a class="btn btn-default close" href="#" role="button">Close</a>
</div>
<a class="btn btn-default save" href="#" role="button">Save</a>
<div class="clearfix"></div>
