<h2>
	<a href="#" class="address">
	<span class="custom-glyph glyph-asset"></span>
	<%= name %>
	</a>
</h2>
<ul class="attr-list">
	<li class="attr-list-item">
		<span>City</span>
		<div class="value"><%= city %></div>
	</li>
	<div class="form-group comment attr-list-item">
		<label for="comment">Comments</label>
		<textarea type="text" class="form-control" id="comment" placeholder="Add a comment" ><%= comment %></textarea>
	</div>
</ul>
<div class="btn-group pull-right">
	<a class="btn btn-default delete" href="#" role="button">Delete</a>
	<a class="btn btn-default close" href="#" role="button">Close</a>
</div>
<a class="btn btn-default save" href="#" role="button">Save</a>
<div class="clearfix"></div>
