<div class='dropdown'>
	<button class="btn dropdown-toggle" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Show... <span class="caret"></span>
	</button>
	  <ul class="dropdown-menu" aria-labelledby="dLabel">
	  	<li><a href="#" id="summary" class="viz-type-option">Summary</a></li>
	    <li><a href="#" id="land-val" class="viz-type-option">Land value distribution</a></li>
	    <li><a href="#" id="public-ownership" class="viz-type-option">Public ownership</a></li>
	  </ul>
</div>
<div class='viz'>
</div>
