<h2>Add a new <%= type %></h2>
<ul class="attr-list">
	<li class="attr-list-item">
		<span>City</span>
		<div class="value"><%= city %></div>
	</li>
	<div class="form-group name attr-list-item">
		<label for="name">Name</label>
		<input type="text" class="form-control" id="name" placeholder="Name" ></input>
		<span class="error-msg"></span>
	</div>

	<% if(type=='asset'){ %>
	<li class="attr-list-item multi-select">
		<span class="title">Asset Type</span>
		<select id="assetType" class="form-control">
			<option value="anchor business">Anchor business</option>
			<option value="cultural institution">Cultural institution</option>
		</select>
	</li>
	<% } %>

	<% if(type=="investment"){ %>
	<li class="attr-list-item multi-select">
		<span class="title">Investment Type</span>
		<select id="investmentType" class="form-control">
			<option value="equity">Equity investment</option>
			<option value="masterlease">Retail master lease</option>
		</select>
	</li>
	<div class="form-group value attr-list-item">
		<label for="value">Investment Value</label>
		<input type="text" class="form-control" id="value" placeholder="$" ></input>
		<span class="error-msg"></span>
	</div>
	<% } %>
	<div class="form-group comment attr-list-item">
		<label for="comment">Comments</label>
		<textarea type="text" class="form-control" id="comment" placeholder="Add a comment" ></textarea>
	</div>
</ul>
<a class="btn btn-default close" href="#" role="button">Cancel</a>
<a class="btn btn-default save" href="#" role="button">Save</a>
<div class="clearfix"></div>
<div class="tooltip-below"></div>
