<h2>Add a new <%= type %></h2>
<ul class="attr-list">
	<li class="attr-list-item">
		<span>City</span>
		<div class="value"><%= city %></div>
	</li>
	<div class="form-group name attr-list-item">
		<label for="name">Name</label>
		<input type="text" class="form-control" id="name" placeholder="Name" ></input>
		<span class="error-msg"></span>
	</div>
	<div class="form-group address attr-list-item">
		<label for="address">Address</label>
		<input type="text" class="form-control" id="address" placeholder="address" ></input>
		<span class="error-msg"></span>
	</div>
	<div class="form-group contact attr-list-item">
		<label for="contact">E-Mail</label>
		<input type="text" class="form-control" id="contact" placeholder="email" ></input>
		<span class="error-msg"></span>
	</div>

	<% if(type=='asset'){ %>
	<li class="attr-list-item multi-select">
		<span class="title">Asset Type</span>
		<select id="assetType" class="form-control">
		</select>
	</li>
	<div id="assetSubtypes">
		<span class="title">Asset Subtype</span>

	</div>
	<li class="form-group employer attr-list-item employment">
		<label for="employer">Employer?</label>
		<input type="checkbox" name="employer" id="employer" <% if(employer==true){ %>checked<% } %>>
	</li>
	<div class="form-group employee attr-list-item employment" style="display:none">
		<label for="employee">Number of Employees</label>
		<input type="text" class="form-control" id="employee" placeholder="0" value=0></input>
		<span class="error-msg"></span>
	</div>

	<div class="form-group parking attr-list-item" style="display:none">
		<label for="parking">Parking Spaces</label>
		<input type="text" class="form-control" id="parking" placeholder="0" value=0></input>
		<span class="error-msg"></span>
	</div>

	<li class="form-group activating attr-list-item">
		<label for="activating">Activating?</label>
		<input type="checkbox" name="activating" id="activating" <% if(activating==true){ %>checked<% } %>>
	</li>

	<div class="form-group date-feature attr-list-item">
		<label for="date">Open Date</label>
		<input type='text' class="date-picker form-control" id="opendate"></input>
		<span class="error-msg"></span>
	</div>

	<div class="form-group date-feature attr-list-item">
		<label for="date">Close Date</label>
		<input type='text' class="date-picker form-control" id="closedate"></input>
		<span class="error-msg"></span>
	</div>
	<% } %>

	<% if(type=="investment"){ %>
	<li class="attr-list-item multi-select">
		<span class="title">Investment Type</span>
		<select id="investmentType" class="form-control">
			<option value="public">Public</option>
			<option value="private">Private</option>
		</select>
	</li>
	<div class="form-group value attr-list-item">
		<label for="value">Investment Value</label>
		<input type="text" class="form-control" id="value" placeholder="$" ></input>
		<span class="error-msg"></span>
	</div>
	<div class="form-group date attr-list-item">
		<label for="date">Investment Date</label>
		<input type='text' class="date-picker form-control" id="date"></input>
		<span class="error-msg"></span>
	</div>
	<% } %>

	<!--common to both asset and investment-->
	<div class="form-group comment attr-list-item">
		<label for="comment">Comments</label>
		<textarea type="text" class="form-control" id="comment" placeholder="Add a comment" ></textarea>
	</div>
</ul>
<a class="btn btn-default close" href="#" role="button">Cancel</a>
<a class="btn btn-default save" href="#" role="button">Save</a>
<div class="clearfix"></div>
<div class="tooltip-below"></div>
